<div class="container">
  
  <p class="h1 text-center" style="margin-top: 15px;">{{room?.name}}</p>

  <button *ngIf="this.permissions?.canCreate" class="btn btn-primary btn-lg mr-2" style="margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#add">Add Comment</button>

  <div style="margin-bottom: 15px;" *ngFor="let comment of getCurrentPageData()" class="card">
    <div class="card-header">
      Comment
    </div>
    <div class="card-body">
      <h5 class="card-title">Title: {{comment?.title}}</h5>
      <p class="card-text">Content: {{comment.content}}</p>
      <p class="card-text">Date: {{comment.dateCreated}}</p>
      <p class="card-text">Writer: {{comment.writer?.username}}</p>

      <!-- Update Comment Button -->
      <button *ngIf="this.permissions?.canUpdate && this.permissions.userId==comment.writer?.id" (click)="toggleUpdate(comment)" class="btn btn-warning mx-2" data-bs-toggle="modal" data-bs-target="#update">Update</button>

      <!-- Delete Comment Button -->
      <button *ngIf="this.permissions?.canDelete && this.permissions.userId==comment.writer?.id" class="btn btn-danger" (click)="deleteComment(comment)">Delete</button>
    </div>
  </div>
</div>

<nav class="d-flex justify-content-center" style="margin-top: 10px;" aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="setPage(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
      <a class="page-link" (click)="setPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === pages.length">
      <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>



<div class="modal fade" id="add" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="enrollLabel">Add New Comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">New Comment</p>
        <form [formGroup]="firstForm" (ngSubmit)="addComment()">
          <div class="mb-3">
              <label for="title" class="col-form-label">Title</label>
              <input formControlName="title" id="title" type="text" class="form-control" placeholder="Title...">
          </div>
          <div class="mb-3">
              <label for="content" class="col-form-label">Content</label>
              <input formControlName="content" id="content" type="text" class="form-control" placeholder="Content...">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button id="btnclose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          
        </form>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="update" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="enrollLabel">Update Comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Update Existing Comment</p>
        <form [formGroup]="updateForm" (ngSubmit)="updateComment()">
          <div class="mb-3">
              <label for="updateTitle" class="col-form-label">Title</label>
              <input formControlName="updateTitle" id="updateTitle" type="text" class="form-control" placeholder="Title...">
          </div>
          <div class="mb-3">
              <label for="updateContent" class="col-form-label">Content</label>
              <input formControlName="updateContent" id="updateContent" type="text" class="form-control" placeholder="Content...">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button id="btnclose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
