
<div class="container">
    <div class="jumbotron" style="margin-top: 20px;">

        
        
        <h1 class="display-4">Manage permissions for user {{ user.username }}</h1>
        <p class="lead">User mail: {{ user.email }}</p>

        <form *ngIf="unpermittedRooms.length > 0" (ngSubmit)="updatePermissionsUnpermitted()" [formGroup]="firstForm">
            
    
            <p class="lead mt-20">Manage permissions for unpermitted rooms:</p>
            
                <div>
                    <select formControlName="room">
                        <option *ngFor="let room of unpermittedRooms" value="{{room.id}}">{{room.name}}</option>
                    </select>
                </div>
                
                <div class="form-check">
                    <input formControlName="create" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Create</label>
                </div>
    
                <div class="form-check">
                    <input formControlName="update" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Update</label>
                </div>
    
                <div class="form-check">
                    <input formControlName="delete" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Delete</label>
                </div>
    
            <button [disabled]="firstForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>


        <form  (ngSubmit)="updatePermissionsPermitted()" [formGroup]="thirdForm">
    
            <p class="lead mt-20">Manage permissions for configured</p>
            <div>
                <select (change)="changeCheckboxes()" formControlName="newRoom">
                    <option *ngFor="let room of permittedRooms" value="{{room.room?.id}}">{{room.room?.name}}</option>
                </select>
            </div>
                <div >
                    <div class="form-check">
                        <input  formControlName="createPermitted" class="form-check-input" type="checkbox">
                        <label class="form-check-label">Create</label>
                    </div>
        
                    <div class="form-check">
                        <input  formControlName="updatePermitted"  type="checkbox" class="form-check-input">
                        <label class="form-check-label">Update</label>
                    </div>
        
                    <div class="form-check">
                        <input formControlName="deletePermitted" class="form-check-input" type="checkbox">
                        <label class="form-check-label">Delete</label>
                    </div>
                </div>
                
                
    
            <button [disabled]="thirdForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    
</div>
