<div class="container">
    <h1 style="margin-top: 10px;" class="text-center mb-4">Account permissions</h1>
    <div *ngFor="let user of users"  class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Username: {{user.username}}</h1>
        <p class="lead">Role: {{user.role}}</p>
        <p class="lead">Email: {{user.email}}</p>
        

        <a routerLink="/manage-account/{{user.id}}" class="btn btn-primary">Manage user roles</a>

        <!--div style="margin-bottom: 10px;"><button (click)="acceptComment(comment)" class="btn btn-primary">Accept Comment</button></div-->


        <!--button (click)="updateCurrentComment(comment)" class="btn btn-primary btn-lg mr-2" data-bs-toggle="modal" data-bs-target="#allow">Allow Comment</button>
        <button (click)="terminateComment(comment)" class="btn btn-primary">Terminate comment</button-->
      </div>
    </div>
  </div>
