<div class="container">
    <div class="jumbotron" style="margin-top: 20px;">
    <h1 class="display-4">Manage permissions for user {{ user?.username }}</h1>
        <p class="lead">User email: {{ user?.email }}</p>
    <div class="jumbotron" style="margin-top: 20px;">

        <form (ngSubmit)="updateRole(user)" [formGroup]="secondForm">
            <div>
                <p class="lead">Current permission</p>
                <div style="margin-bottom: 10px;">
                    <select formControlName="role">
                        <option value="ROLE_UNDEFINED">UNDEFINED</option>
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_MODERATOR">MODERATOR</option>
                        <option selected value="ROLE_FORUM">FORUM USER</option>
                    </select>
                </div>
                
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>       
        
