<div class="container">
    <h1 style="margin-top: 10px;" class="text-center mb-4">Comment requests</h1>
    <div *ngFor="let comment of comments"  class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Title: {{comment.title}}</h1>
        <p class="lead">Content: {{comment.content}}</p>
        <p class="lead">Date created: {{comment.dateCreated}}</p>
        <p class="lead">Writer: {{comment.writer?.username}}</p>
        <p *ngIf="comment.roomId==1" class="lead">Room: Science</p>
        <p *ngIf="comment.roomId==2" class="lead">Room: Culture</p>
        <p *ngIf="comment.roomId==3" class="lead">Room: Sport</p>
        <p *ngIf="comment.roomId==4" class="lead">Room: Music</p>

        <button (click)="updateCurrentComment(comment)" class="btn btn-primary btn-lg mr-2" data-bs-toggle="modal" data-bs-target="#allow">Allow Comment</button>
        <button (click)="terminateComment(comment)" class="btn btn-primary">Terminate comment</button>
      </div>
    </div>
  </div>


  <div class="modal fade" id="allow" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="enrollLabel">Allow Comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Allow Comment</p>
          <form [formGroup]="firstForm" (ngSubmit)="updateComment()">
            <div class="mb-3">
                <label for="title" class="col-form-label">Title</label>
                <input formControlName="title" id="title" type="text" class="form-control" placeholder="Title...">
            </div>
            <div class="mb-3">
                <label for="content" class="col-form-label">Content</label>
                <input formControlName="content" id="content" type="text" class="form-control" placeholder="Content...">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button id="btnclose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            
          </form>
        </div>
        
      </div>
    </div>
  </div>
