<div id="maindiv" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center" style="height: 40vh;">
    <h2 class="text-center" style="margin-top: 200px;">Register Form</h2>
    <form [formGroup]="firstForm" (ngSubmit)="registerUser()">

        <div class="row">
            <div class="col-12">
                <div class="form-group text-center">
                    <label for="username" class="text-center">Username*</label>
                    <input formControlName="username" type="text" required="required" class="form-control text-center" id="username"
                        placeholder="Enter username">
                        <div *ngIf="firstForm.get('username')?.invalid && (firstForm.get('username')?.dirty || firstForm.get('username')?.touched)">
                          <!-- Greske -->
                          <small class="text-danger"
                          *ngIf="firstForm.get('username')?.hasError('required')"
                          > This field is required
                          </small>
                          <small class="text-danger"
                            *ngIf="firstForm.get('username')?.hasError('maxlength')"
                            > Length must be less than 45
                          </small>
                        </div>
                </div>
            </div>
            <div class="col-12 form-group text-center">
                <label for="password" class="text-center">Password (8 or more characters)*</label>
                <input formControlName="password" type="password" min="8" required="required" class="form-control text-center"
                    id="password" placeholder="Enter password">
                    <div *ngIf="firstForm.get('password')?.invalid && (firstForm.get('password')?.dirty || firstForm.get('password')?.touched)">
                        <!-- Greske -->
                        <small class="text-danger"
                        *ngIf="firstForm.get('password')?.hasError('required')"
                        > This field is required
                        </small>
                        <small class="text-danger"
                          *ngIf="firstForm.get('password')?.hasError('maxlength')"
                          > Length must be less than 500
                        </small>
                        <small class="text-danger"
                          *ngIf="firstForm.get('password')?.hasError('minlength')"
                          > Length must be more than 8
                        </small>
                      </div>
            </div>  
            <div class="col-12 form-group text-center">
                <label for="email" class="text-center">Email*</label>
                <input formControlName="email" type="email" required="required" class="form-control text-center" id="email"
                    placeholder="Enter email">
                    <div *ngIf="firstForm.get('email')?.invalid && (firstForm.get('email')?.dirty || firstForm.get('email')?.touched)">
                      <!-- Greske -->
                      <small class="text-danger"
                      *ngIf="firstForm.get('email')?.hasError('required')"
                      > This field is required
                      </small>
                      <small class="text-danger"
                        *ngIf="firstForm.get('email')?.hasError('maxlength')"
                        > Length must be less than 200
                      </small>
                      <small class="text-danger"
                        *ngIf="firstForm.get('email')?.hasError('email')"
                        > Must be email
                      </small>
                    </div>
            </div>
            
              
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col-12 text-center">
                <button [disabled]="firstForm.invalid" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
